In [ ]:
In a jupyter notebook solve the following question. Please upload the notebook to GitHub and provide the link submission box below.

 

__int()__: Constructor that takes as input a pair of Point objects that represent the ends points of the line segment

Length():: returns the length if the segment 

Slope() returns the slope of the segment of none if the slope is unbounded 

 

>>> p1 = Point(3,4)

>>> p2 = Point()

>>> s = Segment(p1,p2)

>>> s.length()

5.0

>>> s.slope()

0.75

In [ ]:
#Answer

In [1]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def length(self):
        return ((self.p2.x - self.p1.x) ** 2 + (self.p2.y - self.p1.y) ** 2) ** 0.5
    
    def slope(self):
        if self.p2.x - self.p1.x == 0:
            return None
        return (self.p2.y - self.p1.y) / (self.p2.x - self.p1.x)

p1 = Point(3, 4)
p2 = Point()
s = Segment(p1, p2)

print(s.length())
print(s.slope())

5.0
1.3333333333333333

In [ ]:
Question 22

In [ ]:
In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.



+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 
 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [ ]:
Answer

In [4]:
import sqlite3
conn = sqlite3.connect(':memry:')
cur = conn.cursor()

cur.execute('''
    CREATE TABLE Weather (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')

cur.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES (1, '2015-01-01', 10)")
cur.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES (2, '2015-01-02', 25)")
cur.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES (3, '2015-01-03', 20)")
cur.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES (4, '2015-01-04', 30)")


cur.execute('''
    SELECT w1.id
    FROM Weather w1
    JOIN Weather w2 ON DATE(w2.recordDate, '-1 day') = w1.recordDate
    WHERE w1.temperature > w2.temperature
''')

results = cur.fetchall()
for row in results:
    print(row[0])

conn.close()

2

In [ ]:
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON DATE(w2.recordDate, '-1 day') = w1.recordDate
WHERE w1.temperature > w2.temperature;

Develop a recursive function tough() that takes two nonnegative integer arguments and outputs a pattern.

In [7]:
def tough(indentation, pattern):
    if pattern == 0:
        return

    spaces = ' ' * indentation
    stars = '*' * pattern

    tough(indentation + 1, pattern - 1)

    print(spaces + stars)

    tough(indentation + 1, pattern - 1)